
body {
    font-family: sans-serif;
}

.custom-pack-categories {
    top: 0px;
    width: 200px;
    position: fixed;
    bottom: 0;
    height: auto;
    border-right: 1px solid black;
}

.custom-pack-categories hr {
    margin-right: 45px;
}

.custom-pack-categories h2 {
    margin: 12px;
    font-size: 14px;
    margin-top: 36px;
    line-height: normal;
    margin-left: 20px;
    text-align: left;
}

.custom-pack-category-list {
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    position: relative;
    padding-left: 0px;
}

.custom-pack-category-list-item {
    padding-left: 20px;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
}

.custom-pack-category-list-item p {
    color: rgb(15, 36, 64);
    opacity: 0.5;
    font-weight: 400;
}

.custom-pack-category-list-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.variant-image {
    float: left;
    list-style-type:none;
    width: 100px;
    height: 100px;
    padding-left: 60px;
    justify-content: space-between;
}

.variant-image-list {
    display: flex;
}

.product-container {
    display: flex;
    margin-top: 10vh;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

.page-container {
    margin: auto 10%;
}

.custom-packs-container {
    margin: auto 15%;
}

.variant-images {
    height: 20%;
}

.product-image {
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.bold {
    font-weight: bold;
}

.includes-list {
    padding-left: 20px;
}

.continue-button {
    background-color: #3577D4;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 20px 50px;
    font-size: 18px;
}

.continue-button:hover {
    background-color: #255394;
    cursor: pointer;
}

.product-image-container {
    width: 41%;
    max-width: 41%;
    flex-basis: 41%;
    padding-top: 20px;
}

.info-container {
    width: 50%;
    height: 100%;
    padding: 20px;
    max-width: 50%;
    flex-basis: 58.333333%;
    padding-top: 0;
    padding-left: 45px;
}

h2 {
    text-align: center;
} 

h3 {
    text-align: center;
    font-size: 15px;
    color: gray;
}
.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    padding-top: 50px;
  }

  .listing li {
    border: 1px solid #ebeef2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 24px !important;
    padding: 20px 40px 40px 40px;
  }
  .custom-packs-listing {
    list-style: none;
    margin: 4em;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  }

  .custom-packs-listing li {
    border: 1px solid #ebeef2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 24px !important;
    padding: 0;
  }


  

  .product-name {
      font-size: 1.5rem;
  }
  .listing li:hover {
    background-color: #9846dd;
    color: white !important;
  }

  .product-name {
    text-align: left;
    color: black;
  }

  .price {
      text-align: left;
      color: black;
  }

  .listing li:hover p {
      color: white !important;
  }

  .listing li:hover .per-pack {
      color: white !important;
  }

  .custom-pack-text {
      width: 60%;
  }

  .custom-pack-add {
      width: 25%;
      display: inline;
  }

  .per-pack {
      color: gray;
  }
  .listing .cta {
    margin-top: auto;
    padding: 10px;
    text-align: center;
  }
  .custom-packs-listing .cta {
    margin-top: auto;
    padding: 10px;
    text-align: left;
    display: flex;
  }

  .custom-pack-add {
      text-align: right;
  }

  .custom-pack-add p {
    margin-top: 50%;
  }
  .disclaimer {
      text-align: center;
      font-size: 10px;
  }

  img {
      width: 100%;
      height: 100%;
      border-radius: 24px !important;
      object-fit: cover;
  }



  .qty {
      border: 1px solid lightgrey;
      border-radius: 5px;
      color: grey !important;
      font-size: 0.8rem;
      width: 50%;
      margin-left: 0;
  }

a {
    text-decoration: none !important;
}
.description {
    max-width: 75%;
}

@media screen and (max-width: 500px) {
    .listing {
        margin: 0;
        margin-left: -40px;
    }
}
@media screen and (max-width: 800px) {
    .listing {
        margin-left: -30px;
    }

    .product-image-container {
        width: 100%;
        max-width: 100%;
    }

    .info-container {
        width: 100%;
        max-width: 100%;
    }
    
    .variant-image {
        padding-left: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .product-image-container {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }
    
    .info-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        max-width: 100%;
    }
        
