.hw {
    width: 50%;
    max-width: 50%;
}

.fw {
    width: 100%;
}

.checkout-form {
    max-width: 800px;
}

.form-input {
    border-radius: 32px;
    border: 1px solid gray;
    padding: 19px 30px;
    background-color: #fff;
}